body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.title {
  font-size: 50px;
  margin-top: 100px;
}

h1 {
  margin: 0px;
}

.searchbar-input {
  width: 70%;
  display: inline-block;
  border: 3px solid #ffff;
  border-radius: 6px;
  font-size: 10px;
  background: none;
  color:#ffff;
  font-size: 30px;
  font-weight: 300;
  margin-left: 20px;
  margin: 0;
  padding: 10px;
  margin-top: 30px;
}

.currency-input {
  width: 40%;
  display: inline-block;
  border: 3px solid #ffff;
  border-radius: 6px;
  font-size: 10px;
  background: none;
  color:#ffff;
  font-size: 30px;
  font-weight: 300;
  margin-left: 20px;
  margin: 0;
  padding: 10px;
}

.equals {
  font-size: 40px;
  font-weight: 600;
}

li {
  font-size: 25px;
  font-weight: 600;
  color: #ffff;
  padding-left: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

.list-title {
  font-size: 25px;
  color: rgb(89, 84, 84);
  opacity: 0.9;
  margin-left: 0;
}

.list-wrapper {
  backdrop-filter: blur(20px);
  padding: 20px 40px;
  border-radius: 14px;
  margin-top: 20px;
  max-height: calc(100vh - 80px);
}

span {
  font-weight: 600;
  font-size: 20px;
  margin-left: 5px;
}

.main-div {
  backdrop-filter: blur(20px);
  padding: 20px 40px;
  border-radius: 14px;
  margin-top: 20px;
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  height: 100%;
}
