body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 400px;
}

.title {
  font-size: 50px;
  margin-top: 200px;
}

.searchbar-input {
  width: 70%;
  display: inline-block;
  border: 3px solid #ffff;
  border-radius: 6px;
  font-size: 10px;
  background: none;
  color:#ffff;
  font-size: 30px;
  font-weight: 300;
  margin-left: 20px;
  margin: 0;
  padding: 10px;
  margin-top: 30px;
}

.currency-input {
  width: 40%;
  display: inline-block;
  border: 3px solid #ffff;
  border-radius: 6px;
  font-size: 10px;
  background: none;
  color:#ffff;
  font-size: 30px;
  font-weight: 300;
  margin-left: 20px;
  margin: 0;
  padding: 10px;
}

.equals {
  font-size: 40px;
  font-weight: 600;
}

li {
font-size: 25px;
font-weight: 600;
color: #ffff;
padding-left: 5px;
}

.country-list {
 list-style: none;
 padding: 0;
}

.list-title {
  font-size: 25px;
  color: rgb(89, 84, 84);
  opacity: 0.9;
  margin-left: 0;
}

span {
  font-weight: 600;
  font-size: 20px;
  margin-left: 5px;
}

 @media (min-width:360px) {

body {
  margin: 50px;
}

 }